cdFLASK_ENV=development
SECRET_KEY=ubah-dengan-secret-key-acak-yang-aman

DB_HOST=localhost
DB_PORT=3306
DB_NAME=cafe_db
DB_USER=root
DB_PASSWORD=

UPLOAD_FOLDER_PRODUCTS=static/uploads/products
UPLOAD_FOLDER_PROFILES=static/uploads/profiles
